<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Choose Your Own Adventure</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="arc">
            <span class="title">{{.Title}}</span>
            <div class="paragraphs">
                {{range .Story}} 
                    <p class="paragraph">
                        {{.}}
                    </p>
                {{end}}
            </div>
            {{if .IsEnd}}
                <span class="the-end">The End</span>
            {{end}}
            <div class="options">
                {{range .Options}}
                    <div class="option">
                        <a href="/{{.Arc}}">
                            > {{.Text}}
                        </a>
                    </div>
                {{end}}
            </div>
        </div>
    </body>
</html>
